<h1>Burgers!</h1>

<h2>burgers need eating!!</h2>
<ul>
    {{#each burger}}
     {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
     {{/unless}}
    {{/each}}
</ul>

<h2>Burgers been devoured</h2>
<ul>
    {{#each burger}}
     {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
     {{/if}}
    {{/each}}
</ul>

<h2>Add Burgers</h2>
<form class="create-form">

    <div class="form-group">
        <label for="eat-me">EAT ME!!</label>
        <input type="text" id="br" name="name">
    </div>

    <div class="form-group">
        <label for="devoured">Devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> Devoured!!!!<br>
        <input type="radio" name="devoured" value="0">Eat Me!!!

    </div>
    <button type="submit">Add a burger!</button>
</form>